@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.informationWrapper {
	text-align: center;
}

.container {
	padding-top: 8rem;
}

.emptyData {
	margin: auto;
	margin-top: 1rem;
	margin-left: 1rem;
	font-weight: bold;
}
